@media screen and (max-width: 800px) {
    header.px-24 {
        padding-left: 0;
        padding-right: 0;
    }
    header>div>a.text-4xl{
        font-size: 1.25rem;
    }
    .px-8 {
        padding-right : 2px;
    }
    .mr-48 {
        margin-right: 0;
    }
}