{% extends "base.html" %}
{% load static %}


{% block content %}

    <div class="container mx-auto flex flex-col items-center justify-evenly rounded-xl bg-gray-800 h-128 mt-32 mb-24 bg-cover bg-center text-white" style="background-image:url({% static "img/home_main.jpg" %})">

      <h4 class="text-lg font-highlight">프렌즈 톡의 마음</h4>
      <h3 class="text-3xl font-important">
        힘들고 외로울 때는 프렌즈 톡과 함께
      </h3>
      <a class="border px-12 font-highlight" href="#">Read More</a>

    </div>




{% endblock content %}