{% extends "base.html" %}
{% load static %}


{% block content %}

    <div class="container mx-auto flex flex-col h-screen justify-evenly">
        <div class="app_mecab_ner">
            <ul class="h-32">
                <li class="flex flex-col justify-center bg-blue-300 h-16">
                    <h1 class="ml-6 text-white text-2xl">엔티티</h1>
                </li>
                <li class="flex flex-col justify-center border-b-2 h-12 my-2">
                    <h3 class="ml-6 text-blue-300"><a href='{% url "mecab_ner:entity_category" %}'>엔티티 카테고리</a></h3>
                </li>
                <li class="flex flex-col justify-center border-b-2 h-12 my-2">
                    <h3 class="ml-6 text-blue-300"><a href='{% url "mecab_ner:entity_item" %}'>엔티티 리스트</a></h3>
                </li>
            </ul>
        </div>

        <div class="app_mecab_ner">
            <ul class="h-32">
                <li class="flex flex-col justify-center bg-blue-300 h-16">
                    <h1 class="ml-6 text-white text-2xl">인텐트</h1>
                </li>
                <li class="flex flex-col justify-center border-b-2 h-12 my-2">
                    <h3 class="ml-6 text-blue-300"><a href="/">인텐트 카테고리</a></h3>
                </li>
                <li class="flex flex-col justify-center border-b-2 h-12 my-2">
                    <h3 class="ml-6 text-blue-300"><a href="/">인텐트 리스트</a></h3>
                </li>
            </ul>
        </div>

        <div class="app_mecab_ner">
            <ul class="h-32">
                <li class="flex flex-col justify-center bg-blue-300 h-16">
                    <h1 class="ml-6 text-white text-2xl">프렌즈 톡</h1>
                </li>
                <li class="flex flex-col justify-center border-b-2 h-12 my-2">
                    <h3 class="ml-6 text-blue-300"><a href="/">프렌즈 톡 리스트</a></h3>
                </li>
            </ul>
        </div>
    </div>

{% endblock content %}